a
    text-decoration: none
    margin: 10px

li:hover
    background-color: #cbdcef
h2, h3, h4, p
    text-align: center
img
    display: block
    margin: 0 auto

.card
    height: 30vw
    min-height: 150px
    width: 20vw
    min-width: 100px
    border: 3px solid #6c757d
    border-radius: 0.5rem

.container
    display: flex
    flex-wrap: wrap
    justify-content: space-evenly
    flex-direction: row


.spinner-border
    width: 6rem
    height: 6rem
    display: block
    vertical-align: center
    margin-top: 10vh